@import "compass";
@import "compass/reset";

$white: #fff;
$black: #000;
$jetBlack: #333;
$darkGray: #777;
$lightGray: #ccc;
$evenLighterGray: #eee;
$blue: #5E5E5E;
$articleWidth: 780px;

@mixin font-smoothing($font-smoothing) { 
  //none | antialiased | subpixel-antialiased
  -webkit-font-smoothing: $font-smoothing;
     -moz-font-smoothing: $font-smoothing;
      -ms-font-smoothing: $font-smoothing;
          font-smoothing: $font-smoothing;
}

html{
	background-color: $white;
}

body{
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
	font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: $jetBlack;
	text-rendering: optimizeLegibility;
	@include font-smoothing('antialiased');
	&>header{
		border-bottom:1px solid $lightGray;
	}
}

a{
	color:$blue;
	text-decoration:none;
	&:hover{
		text-decoration:underline;
	}
}

h1{
	color: $black;
	font-size: 35px;
	margin: 40px 0 7px 0;
}

h2{
	font-size: 18px;
	font-weight: 200;
	color: $darkGray;
	margin-bottom: 15px;
}

aside{
	float: right;
	max-width: 150px;
	margin-top: 50px;
	li{
		line-height:1.8;
	}
}

article{
	float: left;
	width: $articleWidth;
	font-size: 18px;
	line-height: 1.7;
	padding-bottom: 35px;
	border-bottom: 1px dotted $lightGray;

	header{
		margin-top: 40px;
	}

	a{
		text-decoration: underline;
		color: $black;

		&:hover{
			text-decoration: none;
		}
	}

	img,
    .is-video{
		display: block;
		margin: 20px auto;
		clear: both;
		width: 640px;
	}

	.tile{
		width: 320px;
		float: left;
		clear: none;
		margin: 0 20px;
	}

	small{
		display: block;
		text-align: right;
		color: $lightGray;
		font-size: 10px;
		@include font-smoothing('subpixel-antialiased'); 
	}
	
	h1{
		font-size: 25px;
		font-weight: 300;
		max-width: 650px;
		float: left;
		line-height: 1.2;
		margin-bottom: 5px;
		margin-top: 0;

		a{
			color: $black;
			text-decoration: none;
		}
	}
	
	time{
		font-size: 18px;
		margin-top: 3px;
		color: $darkGray;
		float: right;
	}

	pre{
		background-color: $evenLighterGray;
		font-family: monospace;
		padding: 8px;
		margin: 15px 0;
		color: $black;
		font-size: 15px;
	}

	p{
		margin: 20px 0;
	}

	&:last-of-type{
		border-bottom: none;
		padding-bottom: 25px;
	}

	.side-list{
		display: block;
		margin-bottom: 20px;
		overflow: hidden;
	}

	.side-list li{
		float: left;
		margin-right: 10px;
		font-weight: 500;
	}

	.comments{
		text-decoration: none;
		font-weight: 500;
		font-size: 15px;
	}
}

.is-video {
  position: relative;
  padding-bottom: 56.25%; //16 : 9 video aspect ratio
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.is-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.is-list {
  list-style: initial;
  margin-left: 40px;
}

#disqus_thread{
	float: left;
	width: $articleWidth;
	margin-top: 10px;
	margin-right: 160px;
}

/* about page
---------------------------*/
#me{
	display: block;
	width: 320px;
	height: 320px;
	@include border-radius(500px);
	border: 5px solid #000;
	background: url(http://s3.jt.io/me.jpg) no-repeat 0 0;
	margin: 30px auto 0;
	&:hover{
		background-position: right 0;
	}

}

.about ul a{
	text-decoration: none;
}

/*Tools (need to be moved into a different file)*/
.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

@media screen and (max-width: 959px) {

	body{
		width: $articleWidth;
	}

	aside{
		float: none;
		max-width: none;
		margin-top: 20px;
		font-size: 20px;
		ul{
			display: block;
			float: left;
		}
		li{
			float: left;
			margin-right: 20px;
		}
		li:last-child{
			margin-right: 0;
		}

	}

	#disqus_thread{
		margin-right: 0;
	}
	
}

@media screen and (max-width: $articleWidth) {

	body{
		width: auto;
	}

	article{
		width: auto;

		h1{
			max-width: 480px;
		}
	}

	#disqus_thread{
		width: 100%;
	}
}

@media screen and (max-width: 660px) {
	article{

		img,
        .is-video {
			width: 100%;
		}

		time{
			float: left;
			clear: left;
		}

		h1{
			max-width: none;
			width: 100%;
		}

		time{
			width: 100%;
		}

		.tile{
			float:none;
			margin:0 auto;
		}

	}
}

@media screen and (max-width: 320px) {

	aside a{
		font-size: 15px;
	}

	article {
		.tile{
			width: 100%;
		}
	}

	#me{
		width: 250px;
		height: 250px;
		background-size: 500px 250px;
	}
}