html,
body {
    margin:0;
    padding:0;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: hidden;
}

a {
    display: block;
    margin: 10px;
    text-decoration: none;
}

#comments {
    overflow: auto;
}